
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>blog</title>
        <link rel="stylesheet" type="text/css"  href="{% static 'css/blog.css' %}">  
    </head>
    <body>
        <div>
        <h1>Blog</h1>
        </div>
        {% for Posts in Posts %}
        <div>Publicado:{{Posts.published_date}}<br>
            Autor:{{Posts.author}}<br>
            Titulo:{{Posts.title}}<br>
            Contenido:{{Posts.text}}<br>
        </div>
        <br>
        <br>
        {% endfor %}
    </body>
</html>